  <header>
   <div class="nav">
      <a class="target menu_btn"><i class="iconfont">&#xe632;</i><span>menu</span></a>

  <div class="guide">
    <a href="/">Home Back<i class="iconfont">&#xe635;</i></a>
  </div>
     </div>
  </header>
  <%- include('menu.ejs') %>
<div class="fiexddiv_w"></div>
<div class="fiexddiv">
  <div class="w1200 artmain">
<div class="l-content all-width">

  <div>
    <h3 class="title"><%= post.title %></h3>
        <div class="detial-content-wrap"><%- post.content %></div>
        <div class="detail-content-footer">
          <span class="tag"><%= post.created_at %></span>
          <span class="tag right">
            <span>浏览(<%= post.pv %>)</span>
            <span>留言(<%= post.commentsCount %>)</span>
          
            <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
              <div class="ui inline dropdown">
                <div class="text"></div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item"><a href="/posts/<%= post._id %>/edit">编辑</a></div>
                  <div class="item"><a href="/posts/<%= post._id %>/remove">删除</a></div>
                </div>
              </div>
            <% } %>
          </span>
        </div>
    </div>
  </div>
<!-- 来必力City版安装代码 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC8zMTgzMy84Mzk3">
  <script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');

      //menu侧滑
 $(".menu_btn").on("click",function(){
   if($(".menu-wrap").width()){
    $(".menu-wrap").animate({width:'0'});
    $(".menu_btn").animate({marginLeft:'0'});
    $(".fiexddiv_w").animate({width:'0'});
    $(".menu-cover-wrap").hide();
    $(".svg_fnncat").hide();
    $(".menu-items").fadeOut();
    $(".guide").fadeIn();
    $("body,html").css({"overflow":"auto"});
    $(".menu_btn span").text("menu");
   }else{
    $(".menu-wrap").animate({width:'400px'});
    $(".menu_btn").animate({marginLeft:'400px'});
    $(".fiexddiv_w").animate({width:'400px'})
    $(".menu-items").fadeIn();
    $(".menu-cover-wrap").fadeIn();
    $(".svg_fnncat").fadeIn();
    $(".guide").fadeOut();
    $(".search-form").fadeOut();
    $("body,html").css({"overflow":"hidden"});
    $(".menu_btn span").text("back");
   }
   
 })
  </script>
<noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
</div>
<!-- City版安装代码已完成 -->
</div>
</div>
</div>