<div class="fiexddiv">
  <div class="w1200 artmain">
<div class="l-content all-width">
  <div class="guide">
    <a href="/">首页</a>&gt;<a href="/posts">文章</a> &gt;<a href="/posts/<%= post._id %>"><%= post.title %></a>
  </div>
  <div>
    <h3 class="title"><%= post.title %></h3>
        <div class="detial-content-wrap"><%- post.content %></div>
        <div class="detail-content-footer">
          <span class="tag"><%= post.created_at %></span>
          <span class="tag right">
            <span>浏览(<%= post.pv %>)</span>
            <span>留言(<%= post.commentsCount %>)</span>
          
            <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
              <div class="ui inline dropdown">
                <div class="text"></div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item"><a href="/posts/<%= post._id %>/edit">编辑</a></div>
                  <div class="item"><a href="/posts/<%= post._id %>/remove">删除</a></div>
                </div>
              </div>
            <% } %>
          </span>
        </div>
    </div>
  </div>
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
<!-- UY END -->
</div>
</div>
</div>