<%- include('header') %>

<div class="edit-grid">
  <div class="wide">
      <img class="avatar" src="/img/<%= user.avatar %>">
  </div>

  <div class="eight wide column">
    <form class="ui form segment" method="post" action="/posts/<%= post._id %>/edit">
      <div class="edit-intr-wrap">
        <p>
          <label>标题</label>
          <input type="text" name="title" value="<%= post.title %>">
        </p>
        <p>
          <label>图标</label>
          <input type="text" name="icon"  value="<%= post.icon %>">
        </p>
        <p>
          <label>标签</label>
          <input type="text" name="label" value="<%= post.label%>">
        </p>
      </div>
      <div class="edit-text-wrap">
        <label>内容</label>
        <textarea name="content" rows="15"><%= post.content %></textarea>
      </div>
      <div class="btn_wrap">
      <input type="submit" class="submit" value="发布">
      </div>
    </form>
  </div>
</div>

<%- include('footer') %>
