
<%- include('header') %>
  <header>
   <div class="nav">
      <a id="menu_btn" class="target"><i class="iconfont">&#xe632;</i><span>menu</span></a>
    <div class="guide">
    <a href="/posts">fnncat 首页</a>
      <% if (searchParam!="all"&&searchParam!="") { %>
      <span>您搜索有关 <span class="hot"><%=searchParam%></span>如下</span>
   <% } %>
 </div>
    <%- include('components/search_plugin.ejs') %>
  </div>

  </header>
<div class="menu-wrap">
</div>
<div class="menu-cover-wrap"></div>
<div class="fiexbddiv">
  <div class="w1200 artmain">
  <div class="l-content">

  <div class="layout-frame">
     <% posts.forEach(function (post) { %>
  <%- include('components/post-content', { post: post }) %>
<% }) %>   
</div>
 <div class="pagepagin-list">
  <div>
    <span class="top_Page page_span_1 pagination"><a id="page_id1" href="/posts?page=1"><span>start</span><i class='iconfont page_icon'>&#xe612;</i></a></span>
    <span class="bot_page"></span>
  </div>
  </div>
</div>
 <div class="r-content">
  <div>
    <h4>公告</h4>
  </div>
<!--    <div class="allTag">
    <h4>标签</h4>
    <div class="ovh">
    <a href="/posts/search?searchParamType='nodejs'" class="cor0">nodejs</a>
    <a href="/posts/search?searchParamType='工作积累'" class="cor1">工作积累</a>
    <a href="/posts/search?searchParamType='javascript'" class="cor2">javascript</a>
    <a href="/posts/search?searchParamType='随笔'" class="cor3">随笔</a>
    <a href="/posts/search?searchParamType='css'" class="cor4">css</a>
    <a href="/posts/search?searchParamType='兼容性'" class="cor5">兼容性</a>
    <a href="/posts/search?searchParamType='网络'" class="cor6">网络</a>
    <a href="/posts/search?searchParamType='算法'" class="cor7">算法</a>
    <a href="/posts/search?searchParamType='碎碎念'" class="cor8">碎碎念</a>
    <a href="/posts/search?searchParamType='工具'" class="cor9">工具</a>
    <a href="/posts/search?searchParamType='老站内容'" class="cor10">老站内容</a>
    </div>
  </div>
 -->
     <div class="readmore-content">
        <h4 class="readmore-header">阅读排行</h4>
        <div class="readmore-title"></div>
     </div>
      <%- include('components/fnncat_1.ejs') %>
</div>

</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
 //menu侧滑
 $("#menu_btn").on("click",function(){
   if($(".menu-wrap").width()){
    $(".menu-wrap").animate({width:'0'});
    $("#menu_btn").animate({marginLeft:'0'});
    $(".fiexbddiv").animate({marginLeft:'0'});
    $(".menu-cover-wrap").hide();
    $("body,html").css({"overflow":"auto"});
   }else{
    $(".menu-wrap").animate({width:'300px'});
    $("#menu_btn").animate({marginLeft:'300px'});
    $(".fiexbddiv").animate({marginLeft:'300px'})
    $(".menu-cover-wrap").fadeIn();
    $("body,html").css({"overflow":"hidden"});
   }
   
 })
 //分页
 var p_co=parseInt(GetQueryString("page")?GetQueryString("page"):1);// 当前页数
 var p_t=<%-count%>//总的页数
 var co=10;//分页展示数
 var realco=(co<p_t)?co:p_t;//如果小于展示数 
 var count_s=(realco<10)?2:((p_co<5)?2:((p_co>p_t-5)?p_t-9:p_co-3));
 var count_e=(realco<10)?realco:((p_co<5)?co:((p_co>p_t-5)?p_t-1:p_co+5));
 for (var i = count_e; i >=count_s; i--) {
    $('.top_Page').after("<span class='page_span_"+i+" pagination'><a id='page_id"+i+"' href='/posts/search?page="+i+"&&searchParam=<%-searchParam%>'>"+i+"<i class='iconfont page_icon'>&#xe63a;</i></a></span>");
    }
 $('.bot_page').append("<a href='/posts/search?page="+<%-count%>+"&&searchParam=<%-searchParam%>'><i class='iconfont page_icon'>&#xe605;</i>end</a>");

 $("#page_id"+p_co).find(".iconfont").html("&#xe612;").css({"font-size":"42px","color":"white","left":"-50px"});
 $(".top_Page").find(".iconfont").html("&#xe63a;").css("font-size","23px");
 $("#page_id"+p_co).css("color","white");
 //右侧排行榜
 $.ajax({url:"/posts/readmore",async:false}).
  success(function(data){
    console.log(data);
    data.post_readmore.forEach(function(key,index){
       $(".readmore-title").append("<p><a href='/posts/"+data.post_readmore[index]._id+"'><i class='iconfont readmore_icon'>&#xe622;</i><i class='readmore_index'>"+(index+1)+"</i><span class='titlem'>"+data.post_readmore[index].title+"</span><span>阅读量："+data.post_readmore[index].pv+"</span></a></p>");
    })
     
  });
  $(".search_cat").on("click",function(){
    $(".searchB").click();
  })
  function GetQueryString(name)
  {
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
   }
})

  

</script>
<%- include('footer') %>