
<%- include('header') %>
  <header>
   <div class="nav">
      <a id="menu_btn" class="target menu_btn"><i class="iconfont">&#xe632;</i><span>menu</span></a>
    <div class="guide">
    <a href="/posts">fnncat</a>
   
 </div>
    <%- include('components/search_plugin.ejs') %>
  </div>

  </header>
  <%- include('components/menu.ejs') %>
<div class="fiexbddiv">
  <div class="w1200 artmain">
  <div class="l-content">

  <div class="layout-frame">
     <% posts.forEach(function (post) { %>
  <%- include('components/post-content', { post: post }) %>
<% }) %>   
</div>
 <div class="pagepagin-list">
  <div>
    <span class="top_Page page_span_1 pagination"><a id="page_id1" href="/posts?page=1"><span>start</span><i class='iconfont page_icon'>&#xe612;</i></a></span>
    <span class="bot_page"></span>
  </div>
  </div>
</div>
 <div class="r-content">
   <div class="allTag">
    <h4 class="readmore-header">Hot Tags</h4>
    <div class="ovh">
    <a href="/posts/searchParamType?searchParamType=javascript" class="cor0">javascript</a>
    <a href="/posts/searchParamType?searchParamType=工作积累" class="cor1">工作积累</a>
    <a href="/posts/searchParamType?searchParamType=数据库" class="cor2">数据库</a>
    <a href="/posts/searchParamType?searchParamType=框架类" class="cor3">框架类</a>
    <a href="/posts/searchParamType?searchParamType=css" class="cor4">css</a>
    <a href="/posts/searchParamType?searchParamType=兼容性" class="cor5">兼容性</a>
    <a href="/posts/searchParamType?searchParamType=算法" class="cor7">算法</a>
    <a href="/posts/searchParamType?searchParamType=随意说" class="cor8">随意说</a>
    <a href="/posts/searchParamType?searchParamType=工具" class="cor9">工具</a>
    <a href="/posts/searchParamType?searchParamType=nodejs" class="cor10">nodejs</a>
    </div>
  </div>

     <div class="readmore-content">
        <h4 class="readmore-header">Popular Article</h4>
        <div class="readmore-title"></div>
     </div>
    <div class="readtime-content">
        <h4 class="readmore-header">Archives Of Essays</h4>
        <div class="readtime-items">
         <a href=""><i class="iconfont">&#xe63f;</i>2015-09</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2015-10</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2015-11</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2015-12</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2016-01</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2016-02</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2016-03</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2016-04</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2016-05</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2016-06</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2016-07</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2016-08</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2016-09</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2016-10</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2016-11</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2016-12</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2017-01</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2017-02</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2017-03</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2017-04</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2017-05</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2017-06</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2017-07</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2017-08</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2017-09</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2017-10</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2017-11</a>
         <a href=""><i class="iconfont">&#xe63f;</i>2017-12</a>
        </div>
     </div>
      <div class="readnotice-content">
        <h4 class="readmore-header">Announcement</h4>
        <p>2017年底，fnncat从<a href="http://www.cnblogs.com/fnncat/">博客园</a>迁入目前小站，sometime我会挂在右侧的小猫上，欢迎提建议。</p>
     </div>
     </div>
</div>

</div>
</div>
<div class="inquiry-btn">
  <img id="inquiry-img">
  <span>Touch  Me</span>
</div>
<script type="text/javascript">
$(document).ready(function(){
   //menu侧滑
 $(".menu_btn").on("click",function(){
   if($(".menu-wrap").width()){
    $(".menu-wrap").animate({width:'0'});
    $("#menu_btn").animate({marginLeft:'0'});
    $(".fiexbddiv").animate({marginLeft:'0'});
    $(".menu-cover-wrap").hide();
    $(".svg_fnncat").hide();
    $(".menu-items").fadeOut();
    $(".guide").fadeIn();
    $(".search-form").fadeIn();
    $("body,html").css({"overflow":"auto"});
   }else{
    $(".menu-wrap").animate({width:'400px'});
    $("#menu_btn").animate({marginLeft:'400px'});
    $(".fiexbddiv").animate({marginLeft:'400px'})
    $(".menu-items").fadeIn();
    $(".menu-cover-wrap").fadeIn();
    $(".svg_fnncat").fadeIn();
    $(".guide").fadeOut();
    $(".search-form").fadeOut();
    $("body,html").css({"overflow":"hidden"});
   }
   
 })
 //分页
 var p_co=parseInt(GetQueryString("page")?GetQueryString("page"):1);// 当前页数
 var p_t=<%-count%>//总的页数
 var co=10;//分页展示数
 var realco=(co<p_t)?co:p_t;//如果小于展示数 
 var count_s=(realco<10)?2:((p_co<5)?2:((p_co>p_t-5)?p_t-9:p_co-3));
 var count_e=(realco<10)?realco:((p_co<5)?co:((p_co>p_t-5)?p_t-1:p_co+5));
 var search_val="";
 var searchType="";
 if(GetQueryString("searchParam")){
    search_val="&&searchParam="+GetQueryString("searchParam");
    searchType="searchParam";
  }else if(GetQueryString("searchParamType")){
    search_val="&&searchParamType="+GetQueryString("searchParamType");
    searchType="searchParamType";
  }else{
    search_val="";
    searchType="";
  }
 for (var i = count_e; i >=count_s; i--) {
    $('.top_Page').after("<span class='page_span_"+i+" pagination'><a id='page_id"+i+"'href='/posts/"+searchType+"?page="+i+search_val+"'>"+i+"<i class='iconfont page_icon'>&#xe63a;</i></a></span>");
    }
 $('.bot_page').append("<a href='/posts/"+searchType+"?page="+<%-count%>+search_val+"'><i class='iconfont page_icon'>&#xe605;</i>end</a>");

 $("#page_id"+p_co).find(".iconfont").html("&#xe612;").css({"font-size":"42px","color":"white","left":"-50px"});
 $(".top_Page").find(".iconfont").html("&#xe63a;").css("font-size","23px");
 $("#page_id"+p_co).css("color","white");
 //右侧排行榜
 $.ajax({url:"/posts/readmore",async:false}).
  success(function(data){
    data.post_readmore.forEach(function(key,index){
       $(".readmore-title").append("<p><a href='/posts/"+data.post_readmore[index]._id+"'><i class='iconfont readmore_icon'>&#xe622;</i><i class='readmore_index'>"+(index+1)+"</i><span class='titlem'>"+data.post_readmore[index].title+"</span><span>阅读量："+data.post_readmore[index].pv+"</span></a></p>");
    })
     
  });
 //右侧时间框
 $.ajax({url:"/posts/readtime",async:false}).
  success(function(data){
    console.log()
     
  });
  $(".search_cat").on("click",function(){
    $(".searchB").click();
  })
  //inqury-btn图片路径
  var urlImg=window.location.href.split('posts')[0]+'/img/cat_index.png';
  console.log(urlImg)
  $("#inquiry-img").attr("src",urlImg);
  function GetQueryString(name)
  {
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
   }
})

  //咨询弹出框
  $(".inquiry-btn").on("click",function(){
    window.open (window.location.href.slice(0,21)+'/inqury.html')

  })

</script>

<%- include('footer') %>