
<%- include('header') %>
<div class="fiexddiv">
  <div class="w1200 artmain">
  

<div class="l-content">
  <div class="guide">
    <a href="/">首页</a>&gt;<a href="/posts">文章</a>
 <% if (searchParam!="all"&&searchParam!="") { %>
 <span>您搜索有关 <span class="hot"><%=searchParam%></span>如下<span>
   <% } %>
  </div>
  <div class="layout-frame">
     <% posts.forEach(function (post) { %>
  <%- include('components/post-content', { post: post }) %>
<% }) %>   
</div>
 <div class="pagepagin-list">
  <div>
    <span class="top_Page"><a href="/posts?page=1">首页</a></span>
    <span class="bot_page"></span>
  </div>
  </div>
</div>
 <div class="r-content">
   <div class="search">
      <form method="get" action="/posts/search">
     <input id="searchParam" name="searchParam" type="text" placeholder="模糊搜索文章" class="searchW"  >
     <input class="searchB" type="submit" value="搜索">
     </form>
   </div>
   <div class="allTag">
    <h4>标签</h4>
    <div class="ovh">
    <a href="/posts/search?searchParamType='nodejs'" class="cor0">nodejs</a>
    <a href="/posts/search?searchParamType='工作积累'" class="cor1">工作积累</a>
    <a href="/posts/search?searchParamType='javascript'" class="cor2">javascript</a>
    <a href="/posts/search?searchParamType='随笔'" class="cor3">随笔</a>
    <a href="/posts/search?searchParamType='css'" class="cor4">css</a>
    <a href="/posts/search?searchParamType='兼容性'" class="cor5">兼容性</a>
    <a href="/posts/search?searchParamType='网络'" class="cor6">网络</a>
    <a href="/posts/search?searchParamType='算法'" class="cor7">算法</a>
    <a href="/posts/search?searchParamType='碎碎念'" class="cor8">碎碎念</a>
    <a href="/posts/search?searchParamType='工具'" class="cor9">工具</a>
    <a href="/posts/search?searchParamType='老站内容'" class="cor10">老站内容</a>
    </div>
  </div>
     <div class="readmore-content">
        <h4 class="readmore-header">阅读排行</h4>
        <div class="readmore-title"></div>
     </div>
     <div class="else-content">
      
    </div>
</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
 //分页
 var page_count="#page_id"+GetQueryString("page")
 for(var i=<%-count%>;i>=1;i--){
          $('.top_Page').after("<span><a id='page_id"+i+"' href='/posts/search?page="+i+"&&searchParam=<%-searchParam%>'>"+i+"</a></span>"); 
        }
 $('.bot_page').append("<a href='/posts/search?page="+<%-count%>+"&&searchParam=<%-searchParam%>'>末页</a>");
 $(page_count).css({"color":"red","font-size":"x-large"})
 //右侧排行榜
 $.ajax({url:"/posts/readmore",async:false}).
  success(function(data){
    console.log(data);
    data.post_readmore.forEach(function(key,index){
       $(".readmore-title").append("<p><a href='/posts/search?"+data.post_readmore[index]._id+"'><span class='titlem'>"+data.post_readmore[index].title+"</span><span>阅读量："+data.post_readmore[index].pv+"</span></a></p>");
    })
     
  });
  function GetQueryString(name)
  {
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
   }
})

  

</script>
<%- include('footer') %>